form {
  width: 55vw;
  border: 1px dashed var(--text-color);
  padding: 1.7rem;
  border-radius: var(--border-radius);
  display: grid;
  gap: 1.5rem;
}

.input-container {
  display: grid;
  gap: 0.5rem;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 75%;
  padding: 0.4rem;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  outline: none;
}

.button-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--secondary-text-color);
}