form {
    width: 70vw;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: hsl(0, 0%, 87%);
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
    display: grid;
    gap: 1.7rem;
}

.input-container {
    display: grid;
    gap: 2rem;
}

.label-container {
    width: 100%;
    display: grid;
    gap: 0.4rem;
}

label {
    font-weight: bold;
    color: hsl(0, 0%, 30%);
}

input {
    background-color: transparent;
    padding: 0.4rem;
    border: 0;
    border-bottom: 1px solid gray;
    outline: none;
    transition: 0.2s;
}

input::placeholder {
    color: gray;
}

input:focus {
    transform: translateY(-0.2rem);
    border-color: hsl(212, 45%, 31%);
}

input:focus::placeholder {
    color: hsl(212, 45%, 31%);
}

.button-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

button {
    padding: 0.5rem 3rem;
}

a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

a:hover {
    text-decoration: underline;
}
