:root {
    --focus-color: gray;
}

form {
    width: 70vw;
    display: grid;
    gap: 1.7rem;
}

.input-container {
    display: grid;
    gap: 1rem;
}

.label-container {
    width: 100%;
    background-color: var(--primary-background);
    padding: 1.7rem;
    border-radius: var(--border-radius);
    display: grid;
    gap: 1rem;
}

label {
    font-weight: bold;
    color: var(--secondary-text-color);
}

input {
    background-color: transparent;
    padding: 0.4rem;
    border: 0;
    border-bottom: 1px solid var(--secondary-text-color);
    outline: none;
    transition: 0.2s;
}

input::placeholder {
    color: var(--secondary-text-color);
}

input:focus {
    transform: translateY(-0.1rem);
    border-color: var(--focus-color)
}

input:focus::placeholder {
    color: var(--focus-color)
}

.button-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

button {
    padding: 0.5rem 3rem;
}

a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

a:hover {
    text-decoration: underline;
}
