@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", arial;
}

body {
    min-height: 100vh;
    padding: 3rem;
    font-family: "Montserrat", arial;
    font-size: 14px;
    background-color: var(--body-background);
    color: var(--text-color);
}

main {
    padding: 6rem;
    display: grid;
    gap: 2rem;
    place-content: center;
}

h1 {
    margin-bottom: 1.5%;
}

p {
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

hr {
    height: 1px;
    border: 0;
    background-color: gray;
}