@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", monospace;
}

body {
    height: 100vh;
    font-size: 14px;
    background-color: var(--body-background);
    color: var(--text-color);
}

main {
    padding: 6rem;
    display: grid;
    gap: 1.4rem;
    place-content: center;
}

h1 {
    margin-bottom: 1.5%;
}

p {
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

button {
    text-decoration: none;
    font-weight: bold;
    color: gray;
    padding: 0.5rem;
    border: 2px solid gray;
    border-radius: var(--border-radius);
    transition: 0.2s;
}

button:hover {
    transform: translateY(-0.2rem);
    cursor: pointer;
    border-color: var(--highlight-color);
    color: var(--highlight-color);
    /* border-radius: 0; */
}

hr {
    height: 1px;
    border: 0;
    background-color: gray;
}

.confirm:hover {
    border-color: var(--confirm-color);
    color: var(--confirm-color);
}

.cancel:hover {
    border-color: var(--cancel-color);
    color: var(--cancel-color);
}
