:root {
    --edit-user-color: hsl(240, 56%, 31%);
}

.user-container {
    width: 75vw;
    padding: 1.7rem;
    border-radius: var(--border-radius);
    background-color: lightgray;
    display: grid;
    gap: 0.7rem;
}

.user {
    width: 100%;
    background-color: hsl(0, 0%, 89%);
    box-shadow: -1px 1px 1px hsl(0, 0%, 60%);
    border-radius: var(--border-radius);
    padding: 0.8rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
}

.user .info {
    flex: 1;
    display: flex;
    /* justify-content: space-between; */
    gap: 2rem;
}

.user .info p {
    /* flex: 1; */
    max-width: 50%;
}

.user .name {
    font-size: 1.2em;
    font-weight: bold;
}

.info-wrapper {
    display: flex;
    gap: 1.7rem;
}

.options {
    display: flex;
    gap: 0.4rem;
}

.option {
    background-color: hsl(0, 0%, 87%);
    color: gray;
    text-decoration: none;
    font-weight: bold;
    padding: 0.4rem;
    border-radius: var(--border-radius);
    border: 2px solid lightgray;
    transition: 0.2s;
}

.option:hover {
    background-color: transparent;
    cursor: pointer;
    border-color: #5d738d;
    color: #5d738d;
}

.no-results {
    color: gray;
}

.create-user:hover {
    border-color: var(--confirm-color);
    color: var(--confirm-color);
}

.del-user:hover {
    border-color: var(--cancel-color);
    color: var(--cancel-color);
}

.edit-user:hover {
    border-color: var(--edit-user-color);
    color: var(--edit-user-color);
}
