.user-container {
  width: 55vw;
  padding: 1.7rem;
  border-radius: var(--border-radius);
  border: 1px dashed var(--text-color);
  display: grid;
  gap: 0.4rem;
}

.user {
  width: 100%;
  border: 1px solid var(--text-color);
  border-left: 3px solid var(--text-color);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  padding: 0.8rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
}

.user:hover {
  border-color: var(--highlight-color);
  margin-left: 0.4%;
}

p {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.info-wrapper {
  display: flex;
  gap: 1.7rem;
}

.options {
  display: flex;
  gap: 0.4rem;
}

.no-results {
  color: gray;
}
